.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    bottom: 0;

    .copyright {
        font-weight: bold;
        color: $primary-color;
    }

    .networks_container {
        .networks_title {
            color: $primary-color;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }

        .icons_container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .socialNetwork_icon {
                cursor: pointer;
                color: $primary-color;
                font-size: 1.2rem;
            }

        }

    }
}