* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./components/vars/vars";

@import "./components/CartModal/CartWidget";
@import "./components/Header/Navbar";
@import "./components/Item/ItemCount";
@import "./components/Item/Spinner";
@import "./components/Item/ItemListContainer";
@import "./components/Item/ItemDetailContainer";
@import "./components/Item/ItemFilters";
@import "./components/Homee/Home";
@import "./components/NotFound/NotFound";
@import "./components/Contact/Contact";
@import "./components/Footer/Footer";
@import "./components/CartModal/CartModal";
@import "./components/Header/SearchBar";
@import "./components/Header/AllResults";
@import "./components/Checkout/Checkout";
@import "./components/Account/LoginAccount";
@import "./components/Account/MyAccount";
@import "./components/Header/NavbarMobile";

html {
    background-color: $bg-color;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) { 
    html {
        margin: 0;
    }
}

.page_title {
    margin: 1rem;
    color: $text-color;
    text-transform: uppercase;
    font-weight: bold;

}

.disable {
    display: none;
}