.modal_container {
    position: fixed;
    background-color: $secondary-color;
    top: 0;
    right: 0;
    width: calc(100% / 5);
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 2;

    .modal_title {
        text-align: center;
        margin: 1rem;
        color: $text-color;
    }
}

.modal_active {
    transform: translateX(0%);
}

.backdrop_active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

.empty_cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    color: $primary-color;

    .empty_cart_icon {
        font-size: 4rem;
    }

    .empty_cart_txt {
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    .empty_cart_button {
        background-color: $primary-color;
        color: black;
        padding: 0.5rem;
        margin: 1rem 0;
        border-radius: 1rem;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        font-size: 0.7rem;
    }
}

.modal_display_container {

    .modal_items_container {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        margin: 2rem 1rem;

        .modal_img {
            max-width: 100%;
        }

        .modal_item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1rem;

            .modal_item_info {
                font-size: 0.8rem;
                text-transform: uppercase;
                color: $text-color;
            }

            .modal_delete_button {
                color: $primary-color;
                border: none;
                background-color: $secondary-color;
                font-size: 1rem;
                cursor: pointer;

                &:hover {
                    font-size: 1.1rem;
                }
            }
        }
    }

    .modal_checkout {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        .modal_subtotal {
            margin: 1rem;
            text-transform: uppercase;
            color: $text-color;
        }

        .modal_checkout_button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary-color;
            color: $text-color;
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
            margin: 1rem;
            padding: 0.8rem;
            text-transform: uppercase;
        }
    }


}

@media screen and (max-width: 768px) {
    .modal_container {
        top: 0;
        right: 0;
        width: calc(100% / 1.5);
        min-height: 100vh;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 2;

        .empty_cart {
        
            .empty_cart_icon {
                font-size: 3rem;
            }
        
            .empty_cart_txt {
                font-size: 1rem;
            }

        }
    }

    .modal_active {
        transform: translateX(0%);
    }

}